# Locations: $GIT_DIR/config; ~/.gitconfig; $(prefix)/etc/gitconfig

[user]
    name = Angel Ramboi
    email = angel.ramboi@gmail.com

[github]
    user = limpangel

[core]
    editor = vim

[color]
    status = auto
    branch = auto
    diff = auto
    ui = auto

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[color "diff"]
    meta = cyan
    frag = magenta
    old = red
    new = green
    whitespace = red reverse

[color "branch"]
    current = cyan reverse
    local = cyan
    remote = green
