[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/pep8"]
	path = _vim/bundle/pep8
	url = git://github.com/vim-scripts/pep8.git
[submodule "_vim/bundle/nerd-tree"]
	path = _vim/bundle/nerd-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "_vim/bundle/autocomplpop"]
	path = _vim/bundle/autocomplpop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "_vim/bundle/pyflakes"]
	path = _vim/bundle/pyflakes
	url = git://github.com/mitechie/pyflakes-pathogen.git
[submodule "_vim/bundle/nerdcommenter"]
	path = _vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "_vim/bundle/delimit-mate"]
	path = _vim/bundle/delimit-mate
	url = https://github.com/Raimondi/delimitMate.git
